<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=header %></h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Jurusan</th>
      </tr>
        <% data_students.forEach( data => { %>
          <tr>
          <td><%= data.id %></td>
          <td><%= data.first_name %> </td>
          <td><%= data.last_name %></td>
          <td><%= data.email %> </td>
          <td><%= data.jurusan %> </td>
          <td><a href="/students/edit/<%=data.id %>">edit</a></td>
          <td><a href="/students/delete/<%=data.id %>">delete</a></td>
          </tr>
        <% }) %> 
    </table>
    <br>
    <h3><%= err_msg %></h3>
    <br>
    <form action="/students" method="post">
      <table>
        <tr>
        <td>First Name:</td>  
        <td><input type="text" name="First_name" placeholder="input first name"></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><input type="text" name="Last_name" placeholder="input last name"></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="text" name="Email" placeholder="input email"></td>
        </tr>
        <tr>
          <td>Jurusan:</td>
          <td><input type="text" name="Jurusan" placeholder="input jurusan"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
    <a href="/">index page</a>
  </body>
</html>
